<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div matLine>
          Mobile Number
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          Gender :
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          Package :
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          BMI :
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          BMI Result:
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          Trainer Require :
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          Goals :
          <button mat-button>
            <mat-chip-listbox> 555-555-5555 </mat-chip-listbox>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          BMI Result:
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <div matLine>
          BMI Result:
          <button mat-button>555-555-5555</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
