<div class="logo text-center">
  <img width="300px" src="" alt="" />
</div>

<div class="registration-form m-3 p-4">
  <form [formGroup]="registrationForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Firstname" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Lastname" />
          <mat-icon matSuffix> </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput placeholder="E-mail" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input formControlName="mobile" matInput placeholder="Mobile" />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input
            type="number"
            formControlName="height"
            matInput
            placeholder="height"
          />
          <mat-icon matSuffix></mat-icon>
          <mat-hint>Unit is lbs</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input
            type="number"
            formControlName="weight"
            matInput
            placeholder="weight"
          />
          <mat-icon matSuffix><i class="fa fa-text-height"></i></mat-icon>
          <mat-hint>Unit is lbs</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Gender</label>
        <mat-radio-group formControlName="gender" class="example-radio-group">
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let gender of genders"
            [value]="genders"
          >
            {{ gender }}
          </mat-radio-button>
        </mat-radio-group>
        <div>You has selected:</div>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Do you require training?!</label>
        <mat-radio-group
          formControlName="trainerOptions"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let trainerOptions of ['Yes', 'No']"
            [value]="trainerOptions"
          >
            {{ trainerOptions }}
          </mat-radio-button>
        </mat-radio-group>
        <div>You has selected:</div>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Packages</mat-label>
          <mat-select formControlName="package">
            <mat-option *ngFor="let package of packages" [value]="package">
              {{ package }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Which of the following is important to you</mat-label>
          <mat-select formControlName="goals" multiple>
            <mat-option *ngFor="let goal of goals" [value]="goal">
              {{ goal }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label"
          >Have you ever been train before?</label
        >
        <mat-radio-group
          formControlName="trainedBefore"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let train of trainBefore"
            [value]="train"
          >
            {{ train }}
          </mat-radio-button>
        </mat-radio-group>
        <div>You has selected:</div>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input
            formControlName="selectDate"
            matInput
            [matDatepicker]="picker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
